<!-- WhatsApp Chat Button -->
<div class="whatsapp-chat-button fixed bottom-6 right-6 bg-green-500 text-white rounded-full p-4 shadow-lg cursor-pointer transition duration-300 ease-in-out hover:bg-green-600">
    <a [href]="'https://wa.me/' + phoneNumber" target="_blank" class="flex items-center space-x-2">
      <img src="https://i.pinimg.com/236x/c6/09/0d/c6090df18193e2616a6a32076883b70c.jpg" alt="WhatsApp" class="w-8 h-8">
      <span class="text-lg font-semibold">Chat with Admin</span>
    </a>
  </div>
  